.columnHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 1em;
  border-radius: 6px;
  margin-bottom: 0.5rem;
  position: relative;
}

.columnActions {
  display: flex;
  gap: 4px;
  margin-left: 1em;
}

.actionButton {
  background: #161616;
  border: none;
  color: #888;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
}

.actionButton:hover {
  color: #fff;
  background-color: #333;
}

.icon {
  display: block;
}

.column {
  /* min-width: 300px; */
  max-width: 333px;
  padding-top: 1em;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 1rem;
}

.columnTitle {
  margin: 0;
  font-size: 1.2rem;
}

.cardsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
}

.cardsContainer::-webkit-scrollbar {
  width: 8px;
}

.cardsContainer::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 4px;
}

.addCardButton {
  margin-top: 1rem;
  background-color: #a8df65;
  border: none;
  border-radius: 4px;
  padding: 1.5em;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  height: 5em;
  min-width: 25em;
}

.addCardButton:hover {
  background-color: #92c05a;
}

.plusSignModal {
  font-size: 1.2rem;
  font-weight: bold;
  color: #a8df65;
  background: bisque;
  padding: 1px 9px;
  margin-right: 11px;
  border-radius: 5px;
  background: #000;
}
