.card {
  background-color: #222;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardActions {
  display: flex;
  gap: 4px;
}

.actionButton {
  background-color: #16161600;
  border: none;
  color: #888;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
}

.actionButton:hover {
  color: #a8df65;
  /* background-color: #333; */
}

.icon {
  display: block;
}

.priorityIndicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.lowPriority {
  background-color: #8fa1d0;
}

.mediumPriority {
  background-color: #e09cb5;
}

.highPriority {
  background-color: #bedbb0;
}

.withoutPriority {
  background-color: #6e6e6e;
}

.cardTitle {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

.cardDescription {
  margin: 0;
  font-size: 0.9rem;
  color: #bbb;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  border-bottom: 2px solid #333;
  padding-bottom: 1em;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  margin-top: 4px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info {
  font-weight: 400;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}

.priority {
  padding: 2px 6px;
  border-radius: 4px;
  color: #000;
  font-weight: 500;
}

.dueDate {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #888;
}
