.boardItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boardName {
  width: 100px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px 8px;
}

.actions {
  display: flex;
}

.editBtn {
  background-color: rgba(0, 0, 0, 0);
  color: gray;
  cursor: pointer;
}

.editBtn:hover {
  color: #a8df65;
}

.deleteBtn {
  background-color: rgba(0, 0, 0, 0);
  color: gray;
  cursor: pointer;
}

.deleteBtn:hover {
  color: #a8df65;
}

.boardIcon {
  margin-right: 8px;
}
