.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background: #000;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  .closeButton:hover {
    color: #BEDBB0;
  }
  .title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .avatarContainer {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }
  
  .avatar {
    width: 68px;
    height: 68px;
    border-radius: 8px;
  }
  
  .editAvatar {
    position: absolute;
    bottom:-10px;
    left: 50%;
    transform: translateX(-50%);
    background: #c4f0a1;
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    z-index: 1;
  }

  input[type="file"] {
    display: none; /* Ascunde input-ul */
  }
  
  .input {
    width: 330px; /* Ajustează lățimea inputurilor pentru a fi mai mici și centrate */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #BEDBB0;
    border-radius: 5px;
    background: black;
    color: white;
    font-size: 16px;
    text-align: center; /* Textul din input va fi centrat */
  }
  
  .passwordContainer {
    position: relative;
    width: 100%; /* Asigură-te că și containerul pentru parolă are aceeași lățime */
  }
  
  .eyeButton {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .sendButton {
    width: 350px; /* Ajustează și butonul pentru a se alinia cu inputurile */
    padding: 12px;
    background: #BEDBB0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  