.screensPageContainer {
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 100%;
}

.screensPage {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  color: #fff;
  width: 100%;
  justify-content: flex-start;
  height: calc(100% - 40px);
  overflow-y: hidden;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.filterWrapper {
  display: flex;
  justify-content: flex-end;
  /* padding: 8px 16px; */
  width: auto;
  position: static;
  top: 0;
  z-index: 10;
}

.noBoardSelected {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.green {
  color: #a8df65;
}

.nameBoard {
  /* margin-bottom: 10px; */
  width: 95%;
  height: 1.5em;
  z-index: 9;
  display: flex;
  /* Change from fixed gap to space-between */
  justify-content: space-between;
  align-items: center;
  /* Remove the fixed gap */
  /* gap: 1050px; */
  padding: 0 0.5rem; /* Add some padding */
  margin-bottom: 0.5rem; /* Add some margin for spacing */
}

.screensTitle {
  color: #fff;
}

.columnTitle {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  background-color: #111;
  padding: 1em;
  border-radius: 6px;
}

.addColumnContainer {
  margin-top: 1rem;
}

.addColumnButton {
  width: 250px;
  padding: 1em;
  background-color: #111;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.addColumnButton:hover {
  background-color: #242424;
}

.plusSignModal {
  font-size: 1.2rem;
  font-weight: bold;
  color: #111;
  padding: 1px 9px;
  margin-right: 11px;
  border-radius: 5px;
  background: #fff;
}
