.sidebar {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 2px;
  z-index: 1;
  background: #0e0e0e;
  height: 100vh;
  align-items: flex-start;
  width: 16rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 7px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.04em;
  color: #fff;
}

.icon {
  width: 32px;
  height: 32px;
}

.myBoardsSection {
  margin-top: 8em;
  width: 100%;
  flex: 1;
}

.myBoardsTitle {
  font-size: 0.9rem;
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
}

.divider {
  border: none;
  border-top: 1px solid #444;
  margin: 10px 0;
}

.createBoardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  padding-right: 15px;
}

.createBoardText {
  font-size: 1rem;
  color: #fff;
  width: 40%;
}

.createBoardButton {
  background-color: #a8df65;
  border: none;
  border-radius: 6px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.createBoardButton:hover {
  background-color: #92c05a;
}

.plusSign {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
}

.boardsList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sideBoards {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background-color 0.2s;
}

.sideBoards:hover {
  background-color: #222;
  color: #fff;
}

.sideBoards.active {
  color: #fff;
  background: #1f1f1f;
  border-right: 4px solid #a8df65;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.block {
  border-radius: 8px;
  background: #1f1f1f;
  margin-bottom: 5em;
  margin-right: 15px;
}

.blockContent {
  padding: 16px;
}

.blockDescription {
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 143%;
  letter-spacing: -0.02em;
  color: #fff;
}

.task {
  color: #a8df65;
}

.helpContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-size: 1rem;
}

/* cercul cu "?" în interior */
.helpIcon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
}

/* textul "Need help?" */
.helpText {
  font-size: 1rem;
  color: #fff;
}
